In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
data = pd.read_csv('financial_dataset.csv')

In [4]:
X = data[['monthly_food', 'monthly_transportation', 'monthly_liabilities', 'monthly_electric_bill', 'monthly_water_bill', 'monthly_income', 'total_expense']]
y = data['financial_health_score']

X

,monthly_food,monthly_transportation,monthly_liabilities,monthly_electric_bill,monthly_water_bill,monthly_income,total_expense
0,4657.1,1863.0,2010.6,866.9,223.2,12936.3,9620.8
1,3054.8,1236.9,4141.1,1140.5,1431.6,20313.4,11004.9
2,4619.7,1893.3,3915.7,1338.7,794.4,26583.2,12561.8
3,2478.8,1151.2,4102.7,1010.9,1450.9,18383.0,10194.5
4,2740.7,1600.8,4760.6,885.1,255.6,12141.3,10242.8
...,...,...,...,...,...,...,...
4995,1503.6,1341.9,3285.4,1957.4,1196.6,21901.9,9284.9
4996,4158.8,1961.6,4264.4,1479.1,382.3,11805.5,12246.2
4997,4528.4,1665.3,3779.5,1104.7,1327.1,21644.5,12405.0
4998,3757.4,1481.0,1772.5,1863.4,796.5,23295.0,9670.8
4999,3378.1,1729.6,1357.7,632.8,915.9,23626.9,8014.1

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor()

In [6]:
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.03619929393777826

In [7]:
import pickle

with open('financialScorePredict.pkl', 'wb') as file:
    pickle.dump(model, file)